<!DOCTYPE html>
<html lang="es">
  <head>
  	<meta charset="UTF-8">
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="contenedor">
      <header>
        <h1>Quiz: el juego de las preguntas</h1>
      </header>
      <nav>
        <ul>
          <li><a href="/">Inicio</a></li>
          <li><a href="quizes/question">Preguntas</a></li>
        </ul>
      </nav>
      <section>
        <%= body %>
      </section>
      <footer>
        <ul>
          <li><a href="#">¿Qué es un quiz?</a></li>
          <li><a href="#">Proyecto github</a></li>
        </ul>
      </footer>
    </div>
  </body>
</html>