<!DOCTYPE html>
<html lang="es">
  <head>
  	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="contenedor">
      <header class="cabecera">
        <h1>Quiz: el juego de las preguntas</h1>
      </header>
      <nav class="menu">
        <ul class="lista">
          <li><a href="/">Inicio</a></li>
          <li><a href="../quizes/question">Preguntas</a></li>
          <li><a href="../author">Créditos</a></li>
        </ul>
      </nav>

      <section class="contenido">
        <%- body %>
      </section>
      <footer class="pie">
        <p>Proyecto Quiz I: Patrón Modelo-Vista-Controlador (MVC); generación del proyecto con express-generator; Primera Página y Primera Pregunta; Despliegue en la nube (Heroku)</p>
        <ul class="lista">
          <li><a href="https://en.wikipedia.org/wiki/Quiz">¿Qué es un quiz? (inglés)</a></li>
          <li><a href="https://github.com/alberto-marin/quiz">Proyecto github</a></li>
        </ul>
      </footer>
    </div>
  </body>
</html>