<!DOCTYPE html>
<html lang="es">
  <head>
  	<meta charset="UTF-8">
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Quiz el juego de las preguntas</h1>
    <%= respuesta %>
    <p><a href="/quizes/question">Juegue otra vez</a></p>
    

  </body>
</html>